body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}

.footer {
  background-color: #1e88e5;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.footer-links a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

.footer p,
.footer em {
  margin: 5px;
}

.footer p:hover,
.footer em:hover {
  opacity: 0.8;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

.logo {
  width: 18%;
  height: 5%;
  margin-left: 41%;
}

.navigation-bar {
  overflow: auto;
  background-color: #2196f3;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.navigation-bar a {
  float: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 15px;
  width: 8.33333%;
  text-align: center;
  height: 45px;
  text-decoration: none;
}

.navigation-bar p {
  position: relative;
  top: middle;
}

.navigation-bar a:hover {
  background-color: #d85202;
  color: white;
  border-radius: 8px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.side {
  /* height: 100vh; */
  background-color: white;
  width: 25%;
  box-shadow: 10px 3px 10px rgba(88, 172, 231, 0.2);
}

.welcome {
  padding: 20px;
  color: #0275d8;
  text-shadow: rgb(230, 113, 40) 1px 0 10px;
}

.side p {
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

.main-content {
  /* height: 100vh; */
  width: 75%;
}

#fresh-products-background {
  background-image: url("../Assets/freshpoducts/freshproduce.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-content-heading {
  padding-left: 10px;
}

.card-container {
  width: 100%;
  /* height: 93vh; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card {
  width: 96%;
  /* height: 30vh; */
  display: flex;
  background-color: #90caf9;
  box-shadow: 4px 4px 4px rgb(132, 138, 131);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-img {
  width: 50%;
  height: 30vh;
}

.img-card {
  width: 70%;
  height: 110px;
  box-shadow: 4px 4px 4px rgb(132, 138, 131);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

.item-img {
  width: 90%;
  height: 25vh;
  box-shadow: 4px 4px 4px rgb(132, 138, 131);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

.card-content {
  padding: 10px;
}

.button-style {
  background-color: #0275d8;
  color: white;
  border-radius: 4px;
  border: 0;
  height: 27px;
  width: 100%;
  box-shadow: 0 3px 10px rgb(132, 138, 131);
  margin-top: 25px;
}

.button-style:hover {
  background-color: #0362b4;
}

.button-style:active {
  background-color: #0275d8;
  transform: translateY(2px);
}

.card button {
  font-size: 1rem;
}
.card .price {
  font-size: 1.7rem;
}

.item-heading,
.item-content,
.price {
  margin-top: 0%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.item-content,
.price {
  font-size: 20px;
}

.price {
  font-weight: bold;
}

table {
  background-color: #90caf9;
  border-collapse: collapse;
  width: 88%;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1e88e5;
}

tr:nth-child(even) {
  background-color: #1e88e5;
}

tfoot {
  background-color: lightgray;
}

input[type="text"],
input[type="email"],
textarea {
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: lightpink;
}

/* .form-group { */
/* padding: 5px; */
/* width: 50%;
  margin-left: 25%;
  margin-right: 25%; */
/* margin-top: 1px; */
/* margin-bottom: 1px; */
/* font-size: 16px; */
/* display: inline; */
/* } */

.gender {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  margin-bottom: 10px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label,
.gender label {
  width: 180px; /* Adjust as needed for label width */
  text-align: right;
  margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="radio"] {
  height: 18px;
}

#error-messages {
  margin-left: 10px;
  color: red;
}

input[type="submit"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.formcontainer {
  background-color: #90caf9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}

dl {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  font-size: 1.3rem;
}

.card li {
  margin: 3px;
}

ol li {
  font-style: italic;
}

img.vertical-a {
  vertical-align: baseline;
}

.dealtags1 li {
  list-style-type: none;
  float: left;
}
.dealtags1 li {
  clear: left;
}

.moredeals {
  text-align: center;
  clear: left;
  width: 100%;
  visibility: visible;
}

.moredeals:hover {
  visibility: hidden;
}

.dealsmc {
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dealtags:hover {
  color: yellow;
}
.dealtags:visited {
  color: red;
}

.dealtags:active {
  color: pink;
}
.dealtags:link {
  color: #fff;
}

/* NEw Assign 2 */

.date-content {
  text-align: center;
}
